$color-1: #fff;
$color-2: #121111;
$color-3: #171717;
$color-4: #D3D2D2;
$color-5: #CF2E2E;
$color-6: #BDBDBD;
$color-7: #F6F6F6;
$color-8: #DEDEDE;
$color-9: #F94438;
$color-10: #ECECEC;
$color-11: #A6A5A5;
$color-12: #3B3B3B;
$color-13: #4D4C4C;
$color-14: #d6d5d5;
$color-15: #222222;
$color-16: #F3EFEF;
$color-17: #2B2B2B;
$color-18: #4B4B4B;
$color-19: #727272;
$color-20: #4D4D4D;
$color-21: #FF3F48;