@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button,
input,
textarea {
    background: transparent;
    border: none;
    outline: none;
}

a,
span {
    color: inherit;
    display: inline-block;
}

body {
    background: #fff;
}

body.dark-theme {
    background: #171717;
    color: white;
}

.auth_title {
    color: #121111;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.main_title {
    color: #121111;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.edit_link {
    border-radius: 10px;
    border: 1px solid #D3D2D2;
    height: 48px;
    padding: 0px 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 4px;
    
    span {
        color: #121111;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
    }
}

.edit_link.red {
    span {
        color: #CF2E2E;
    }
}

.hidden {
    display: none;
}

.edit_head_mobile {
    display: none;
}

.dark-theme {
    .auth_title {
        color: #fff;
    }

    .main_title {
        color: #fff;
    }

    .edit_link {
        border: 1px solid #4D4C4C;

        svg {
            path, circle {
                stroke: #fff;
            }
        }

        span {
            color: #fff;
        }
    }
}

@media only screen and (max-width: 992px) {
    .auth_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 16px;
    }
    
    .edit_head_mobile {
        display: block;
        position: relative;
        margin-bottom: 24px;

        .link {
            position: absolute;
        }

        .title {
            text-align: center;
            color: #121111;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Raleway", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
        }
        
    }

    .dark-theme {
        .edit_head_mobile {
            .title {
                color: #fff;
            }
        }
    }
}